<!DOCTYPE html>
<html>
<head>
    <title>ToDo Lists</title>
    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type='text/javascript'>
        $(document).ready(function () {
            $('.table-hover').find('td').each(function () {
                 if($(this).index()==4 || $(this).index()==5 || $(this).index()==6)
                    return true;
                $(this).click(function () {
                    $('.table-hover td').not($(this)).prop('contenteditable', false);
                    $(this).prop('contenteditable', true);
                });
                $(this).blur(function () {
                    $(this).prop('contenteditable', false);
                });
            });
            $('.table-hover').find('tr').each(function () {
                var td=$(this).find('td:eq(2)').text();
                if(leftDate(td))
                {
                    console.log(td)
                    $(this).find('td:eq(2)').css("background-color","#0040FF");
                    $(this).find('td:eq(2)').css("font-color","#FE2E2E");
                }
            })
            $("#datepicker").datepicker({
                dateFormat:"yy-mm-dd",
            });
            $("#datepicker").datepicker('setDate','today');
            function leftDate(day) {
                var st_date = new Date().toISOString().substr(0, 10).replace('T', ' ');
                st_date=st_date.split("-");
                var ed_date=day.split("-");
                if(st_date>ed_date)
                    return true;
                else
                    return false;
             }
        });

        function checkSpace() {
            var x_content = document.forms['TodoList']['todoContent'].value;
            var x_title = document.forms['TodoList']['todoTitle'].value;
            if (x_content == null || x_content == "") {
                alert("Write the content");
                return false;
            } else if (x_title == null || x_title == "") {
                alert("Write the title");
                return false;
            } else
                return true;
        }
        function complete(index){
            var curTr=$("tr:eq(" + index + 1 + ")");
            var color=curTr.css("background-color");
            if(color=="rgb(245, 245, 245)")
                curTr.css("background-color","#FE2E64");
            else
                curTr.css("background-color","rgb(245, 245, 245)");
        }
        function editToDo(index, id) {
            var nIndex=parseInt(index)+1;
            var curTd = $("tr:eq(" + nIndex+ ")").children();
            var headTd = $("tr:eq(" + 0 + ")").children();
            var form = document.createElement('form');
            form.setAttribute('method', "POST");
            form.setAttribute('action', '/edit/' + id);
            document.body.appendChild(form);
            for (var i = 0; i <= 3; i++) {
                var input = document.createElement("input");
                input.setAttribute("type", "hidden");
                input.setAttribute("name", headTd.eq(i).text().toLowerCase());
                console.log(curTd.eq(i).text());
                input.setAttribute("value", curTd.eq(i).text());
                console.log(input);
                form.appendChild(input);
            }
            form.submit();
        }

    </script>
</head>
<body>
    <div class="container">
        <div class="row justify-content-md-start createTODO">
        <h2 class="headertekst">Create Todo List</h2>
        <form action="/write" method="POST" name="TodoList" onsubmit="return checkSpace()">
            <input type="content" class="form-control form-control-lg" name="todoTitle" placeholder="What are you going to"><br/>
            <input type="content"  class="form-control form-control-lg" name="todoContent" placeholder="Tell me about it"><br/>
            <input type='text' name="dates" class="form-control form-control-lg" id="datepicker" ></br>
            <select name="priority" class="custom-select custom-select-lg mb-3">
                <option value="Important">Important</option>
                <option value="Normal">Normal</option>
                <option value="Not Important">Not Important</option>
            </select>
            <button type="submit">Submit</button>
        </form>
        </div>
    <div class="row justify-content-center showTodoList">
        <h2>todolist</h2>
        <table class="table-hover">
            <thead class="thead-dark tessie">
            <tr>
                <th scope="col" >Title</th>
                <th scope="col">Content</th>
                <th scope="col">Date</th>
                <th>Priority</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>IsComplete</th>
            </tr>
            </thead>
            <% todos.forEach(function(todos, index){ %>
                <tr>
                    <td class="todo_title"><%= todos.title %></td>
                    <td class="todo_content"><%= todos.content %></td>
                    <td class="todo_date"><%= todos.date %></td>
                    <td class="todo_priority"><%= todos.priority %></td>
                    <td>
                        <button type ="button" class="btn btn-success" onclick="editToDo('<%= index %>','<%= todos._id %>')">Edit</button>
                    </td>
                    <td>
                        <form action='/delete/<%= todos._id %>' method="POST">
                            <button type="button" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                    <td>
                        <button type="button" onclick="complete(<%=index+2%>)">Complete</button>
                    </td>
                </tr>
            <% }) %>
        </table>
    </div>
    </div>
</body>
</html>
<style type="text/css">
    /*div#datePicker{*/
    /*position:relative;*/
    /*}*/
    div.createTODO {
        position: relative;
        bottom: 10px;
        top: 20px;
        width:400px;
        height:200px;
    }
    .createTODO div{
        position:absolute;
        width: 300px;
        height: 200px;
        top: 50%;
        left: 70%;
    }
    .tessie{
        font-size: 120%;
    }
    .showTodoList {
        position: relative;
        top: 90px;
        left: 150px;
    }
    h2.headertekst{
        text-align: center;
    }
    body, html {
        background: url("http://www.jakpost.travel/imgfiles/full/31/314699/wallpaper-warna-pastel.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
       }
</style>
